body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background:repeating-linear-gradient(45deg,blue 0 10px ,white 10 20px);
}

.typing { 
    color: #3399FF;
    text-shadow: 0 0 3px #3399FF;
	font: bold 300% Consolas, Monaco, monospace;
	border-right: .1em solid black;
	width: 16.5em; 
	width: 21ch;
	margin: 2em 1em;
	white-space: nowrap;
	overflow: hidden;
	animation: tyg 5s steps(21, end) infinite, blink-caret .8s step-end infinite alternate;
}

@keyframes tyg { from { width: 0; } }
@keyframes blink-caret { 50% { border-color: transparent; } }	